<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Novo Correntista</title>
</head>

<body>

<h1>Cadastrar Correntista</h1>

<form th:action="@{/correntistas}"
      th:object="${correntistaForm}"
      method="post">

    <label for="nome">Nome</label>
    <input
            id="nome"
            type="text"
            th:field="*{nome}"
    />

    <br><br>

    <label for="login">Login</label>
    <input
            id="login"
            type="text"
            th:field="*{login}"
    />

    <br><br>

    <label for="senha">Senha</label>
    <input
            id="senha"
            type="password"
            th:field="*{senha}"
    />

    <br><br>

    <button type="submit">Salvar</button>

</form>

<br>

<a th:href="@{/correntistas}">
    Voltar para lista de correntistas
</a>

</body>
</html>