<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nova Transação</title>
</head>

<body>

<h1>Nova Transação</h1>

<form
        th:action="@{/contas/{contaId}/transacoes(contaId=${contaId})}"
        th:object="${transacaoForm}"
        method="post">

    <div>
        <label for="data">Data</label>
        <input
                id="data"
                type="date"
                th:field="*{data}"
                required>
    </div>

    <br>

    <div>
        <label for="descricao">Descrição</label>
        <input
                id="descricao"
                type="text"
                th:field="*{descricao}"
                required>
    </div>

    <br>

    <div>
        <label for="valor">Valor</label>
        <input
                id="valor"
                type="number"
                step="0.01"
                min="0.01"
                th:field="*{valor}"
                required>
    </div>

    <br>

    <div>
        <label for="movimento">Movimento</label>

        <select
                id="movimento"
                th:field="*{movimento}"
                required>

            <option value="">Selecione</option>
            <option value="C">Crédito</option>
            <option value="D">Débito</option>

        </select>
    </div>

    <br>

    <div>
        <label for="categoriaId">Categoria</label>

        <select
                id="categoriaId"
                th:field="*{categoriaId}"
                required>

            <option value="">Selecione</option>

            <option
                    th:each="categoria : ${categorias}"
                    th:value="${categoria.id}"
                    th:text="${categoria.nome}">
            </option>

        </select>
    </div>

    <br>

    <button type="submit">
        Salvar
    </button>

</form>

<br>

<a th:href="@{/contas}">
    Voltar para minhas contas
</a>

</body>
</html>